* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #0C1115;
}
header {
    background-color: rgb(32, 32, 32); 
    
  } 
li {
    list-style: none;
  }  
  a {
    color: azure;
    text-decoration: none;
  
  }
  .navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10em;
    
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  .nav-branding {
    font-size: 2rem;
  }
  .nav-link {
    transition: 0.7s ease;
    color: azure;
  }
  .nav-link:hover {
    text-shadow: azure 1px 14px 5px;
    color: azure;
  }
  .hamburger {
    display: none;
    cursor: pointer;
    
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: azure;
  }
  .main-cooverimg {
    min-width: 100%;
    max-height: 40rem;
   
  }
  
  .column {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -30%;
    padding: 0 10em;
    
  }
  .title-style {
    font-size: 3em;
    font-weight:800;
    color: azure;
    
  }
  .subtitle {
    color: azure;
    font-size:x-large;
  }
  .btn-style {
    margin-top: 20px;
  }
  .main-btn {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  color: white;
  border: 2px solid #cda45e;
  background: none;
  }
  .main-btn:hover {
    background: #cda45e;
    color: azure;
  }
  .section-two {
    margin-top: 25em;
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    color: azure;
  }
  .section-three {
    display: flex;
    flex-direction: column;
    
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    color: azure;
    background-color: rgb(26, 26, 26);
  }
  .descption-box {
    padding: 0 10em 0 0;
  }
  .description {
    font-size: x-large;
    font-weight:700

  }
  ul {
    list-style: georgian;
    margin-top: 0.5em;
    margin-left: -2em;
    font-size: large;
    margin-bottom: 2em;
    
  }
  li {
    margin-bottom: 0.5em;
  }
  .fa-check-circle {
    color: #cda45e;
  }
  .dscription-two {
    margin-top: 1em;
    color: #cda45e;
    font-size: xx-large;
    font-weight: 600;

  }
  .img-design {
    max-width: 15em;
    background-color: azure;
    border-radius: 50%;
    margin-top: 5em;
    margin-left: 40%;

  }
  .clients {
    display: flex;
    justify-content: space-between;
  }
  .btn-flex {
    display: flex;
    
    justify-content: center;
    margin-top: 5em ;
    margin-bottom: 8em;
  }
  .footer {
    color: azure;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }
  .img1{
    display: block;
  }
  


















  
  @media (max-width:768px) {
    .menu {
      max-width: 100%;
      
    }
    .nav-branding {
      margin-left: 40%;
    }
    .hamburger {
      display: block;
      max-width: 100%;
      
      
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, black,  rgb(73, 73, 73));  
    width: 107%;
    text-align: center;
    transition: 0.3s;
    z-index: 5;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  }
  @media (max-width:768px) {
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-top: -35em;
      padding: 0 5em;
    }
    .title-style {
      font-size: 2em;
      font-weight:800;
      color: azure;
      text-align: center;
      
    }
    .subtitle {
      color: azure;
      font-size:large;
      text-align: center;
    }
    .btn-style {
      display: flex;
      
      margin-top: 20px;
    }
    .section-two {
      margin-top: 10em;
      display: flex;
      flex-direction: column;
      padding: 0 2em;
      color: azure;
    }
    .descption-box {
      padding: 0;
      
    }
    .description {
      font-size: x-large;
      font-weight:700
  
  }
  .descption-box img {
    max-width: 5em;
    height: 5em;
  }
  .img1 {
    width: 100%;
  }
  .section-three {
    
    text-align: center;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    padding: 0 5em;
    color: azure;
    background-color: rgb(26, 26, 26);
  }
  .img-design {
    max-width: 15em;
    background-color: rgb(0, 99, 5);
    border-radius: 50%;
    margin-top: 5em;
    margin-left: 2.5em;

  }
}




































